@import './variables';
@import './bootstrap';
@import './components/viewer';
@import './components/controls';

html, body {
    background-color: $window-background-color;
    color: $window-color;
    font-family: $window-font-family;
}